@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

@import "css/variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $poppins;
}

#root,
#__next {
  isolation: isolate;
}

body {
  font-family: $openSans;
}

h1 {
  line-height: 1.3;
}

p {
  font-size: 0.75rem;
  font-weight: 600;
}

// utilities

.container {
  max-width: 500px;
  padding-inline: 1.5rem;
  margin-inline: auto;
}

.btn {
  border: none;
  background: none;
  font-size: 0.65rem;
  border-radius: 9999px;
  padding: 0.4em 1.75em;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-primary {
  background: $primary-pink;
  color: $neutral-very-pale-blue;
  border: 2px solid transparent;
  transition: $transition;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  padding: 0.75em 2.875em;

  &:hover {
    color: $primary-pink;
    background: transparent;
    border-color: $primary-pink;
  }
}

.btn-secondary {
  background: transparent;
  border: $primary-pink 2px solid;
  color: $primary-pink;
  font-weight: 600;
  transition: $transition;

  &:hover {
    color: $neutral-very-pale-blue;
    background: $primary-pink;
    border-color: $primary-pink;
  }
}

// Navbar

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
}

.logo {
  height: 1rem;
}

// Hero Section

#hero {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-block: $section-padding;
  padding-block-end: $section-padding * 0.75;

  .text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    h1,
    p {
      width: 80%;
      text-align: center;
    }
  }

  img {
    width: 100%;
    max-width: 768px;
    margin-inline: auto;
  }
}

// Achievements

#achievements {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3.5rem;
  place-items: center;
  padding-block: $section-padding * 0.55;

  .achievement {
    img {
      width: 1.25rem;
    }

    .numbers {
      font-size: 2.75rem;
      font-weight: bolder;
    }

    p {
      font-size: 0.675rem;
      color: $neutral-very-dark-cyan;
      opacity: 0.7;
      text-align: center;
    }
  }
}

// Features

#features {
  padding-block: $section-padding;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.feature {
  padding-block: 3rem;
  position: relative;

  &:nth-of-type(2n + 1) {
    background: $neutral-very-pale-blue;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3.5rem;
  }

  .text-content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;
    order: 2;

    & > * {
      text-align: center;
      width: 87%;
    }
  }

  img {
    max-width: 17.5rem;
    margin-inline: auto;
  }
}

// CTA

#cta {
  padding-block: $section-padding * 1.75;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;

  h1 {
    text-align: center;
  }
}

// Footer

footer {
  background: $neutral-very-dark-cyan;
  color: white;
  padding-block: $section-padding * 0.5;
  .container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}

.newsletter {
  display: flex;
  flex-direction: column;
  gap: 0.65rem;

  h2 {
    font-family: $openSans;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.02rem;
  }

  p {
    font-weight: 400;
    letter-spacing: 0.4px;
    font-size: 0.675rem;
    line-height: 1.8;
    color: $neutral-very-pale-blue;
    opacity: 0.95;
    margin-bottom: 2px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;

    input {
      width: 100%;
      padding: 0.65em 1em;
      font-size: 0.65rem;
      border-radius: 4px;

      &:focus {
        outline: none;
      }
    }

    button {
      width: fit-content;
      border-radius: 4px;
    }
  }
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .logo {
    height: 1.35rem;
    margin-bottom: 0.65rem;
  }

  .description {
    font-weight: 400;
    letter-spacing: 0.44px;
    font-size: 0.625rem;
    line-height: 1.8;
    color: $neutral-very-pale-blue;
    opacity: 0.95;
  }

  &-info {
    display: flex;
    flex-direction: column;
    gap: 0.55rem;

    & > * {
      display: flex;
      gap: 1rem;
      align-items: center;

      img {
        width: 0.875rem;
      }

      span {
        font-size: 0.675rem;
        opacity: 0.95;
        color: $neutral-very-pale-blue;
      }
    }
  }
}

@media (min-width: 580px) {
  .container {
    max-width: 1280px;
    padding-inline: 6rem;
  }

  h1 {
    font-size: 2.85rem;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .btn {
    font-size: 0.85rem;
  }

  // Navbar

  .logo {
    height: 1.5rem;
  }

  // Hero

  #hero {
    .text-content {
      p {
        width: 70%;
      }
    }
  }

  // Achievements

  #achievements {
    grid-template-columns: repeat(2, 1fr);
    padding-inline: 10rem;

    .achievement {
      img {
        width: 2rem;
      }

      .numbers {
        font-size: 3rem;
      }

      p {
        font-size: 0.925rem;
      }
    }
  }

  // Features

  #features {
    padding-block-end: 0;
  }

  .feature {
    .container {
      flex-direction: row;
    }

    &:nth-of-type(2n + 1) {
      .text-content {
        order: 0;
      }
    }

    &:nth-of-type(2n) {
      .text-content {
        align-items: end;
      }
    }

    .text-content {
      align-items: start;
      & > * {
        text-align: left;
        width: 75%;
      }
    }

    img {
      max-width: 22rem;
    }
  }

  // Footer

  footer {
    .container {
      flex-direction: row;
      gap: 15rem;
    }
  }
  .newsletter {
    order: 2;

    form {
      flex-direction: row;

      button {
        font-size: 0.6rem;
      }
    }
  }
}
